<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{view/layout/layout_administrador}">
<head th:replace="view/layout/layout_administrador :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page-content" layout:fragment="page-content">
        <!-- aqui se hace el crud -->
        <h1>pero que esta pasandasss</h1>
    </div>
</body>
</html>