<!DOCTYPE html>
<html
  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{view/layout/layout_administrador}"
>
  <head th:replace="view/layout/layout_administrador :: head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block layout:fragment="page-titulo">
      <title>Lucky Gym</title>
    </th:block>
    <th:block layout:fragment="page-style">
      <link rel="stylesheet" th:href="@{/assets/extensions/simple-datatables/style.css}"/>
      <link rel="stylesheet" th:href="@{/assets/css/pages/simple-datatables.css}"/>
    </th:block>
  </head>
  <body>
    <div class="page-heading" layout:fragment="page-heading">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Usuarios</h3>
            <p class="text-subtitle text-muted">
              Aqui se mostrara el listados de todos los usuarios.
            </p>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-header float-start float-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a th:href="@{/}">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Usuarios
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="card">
          <div class="card-header pb-3">
            <h5>Lista de Usuarios</h5>
          </div>
          <div class="card-body pt-0">
            <div class="pb-2">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#agregarUsuario"
              >
                <i class="fa fa-edit"></i> Agregar nuevo usuario
              </button>
            </div>
            <!-- MODAL DE REGISTRO -->
            <div
              class="modal fade text-left"
              id="agregarUsuario"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel33"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">
                      Agregar Usuario
                    </h4>
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i data-feather="x"></i>
                    </button>
                  </div>
                  <form th:action="@{/view/administrador/guardar}" th:object="${usuario}" method="post">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Usuario: </label>
                          <div class="form-group">
                            <input
                              type="text"
                              placeholder="Ingrese el nombre de usuario"
                              class="form-control"
                              th:field="${usuario.usuario}"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label>Contraseña: </label>
                          <div class="form-group">
                            <input
                              type="password"
                              placeholder="Ingrese su contraseña"
                              class="form-control"
                              th:field="${usuario.contrasenia}"
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label>Descripción: </label>
                          <div class="form-group">
                            <input
                              type="password"
                              placeholder="Ingrese la razon del bloqueo"
                              class="form-control"
                              th:field="${usuario.desc_bloq}"
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Bloqueo de usuario</label>
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light-secondary"
                        data-bs-dismiss="modal"
                      >
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Limpiar</span>
                      </button>
                      <input type="submit" class="btn btn-primary ml-1" value="Agregar" data-bs-dismiss="modal"/>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Usuario</th>
                  <th>Contraseña</th>
                  <th>Estado</th>
                  <th>Descripcion</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user:${usuarios}">
                  <td th:text="${user.id}"></td>
                  <td th:text="${user.usuario}"></td>
                  <td th:text="${user.contrasenia}"></td>
                  <td>
                    <span
                      th:classappend="${user.bloqueo == 1} ? 'badge bg-danger' : 'badge bg-success'"
                      th:text="${user.bloqueo == 1} ? 'Bloqueado' : 'No bloqueado'"
                    ></span>
                  </td>
                  <td th:text="${user.desc_bloq}"></td>
                  <td>
                    <button type="button" class="btn btn-warning">
                      <i class="fa fa-edit"></i>
                    </button>
                    <a class="btn btn-danger" th:href="@{/view/administrador/eliminar/} + ${user.id}">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <th:block layout:fragment="page-scripts">
      <script
        th:src="@{/assets/extensions/simple-datatables/umd/simple-datatables.js}"
      ></script>
      <script th:src="@{/assets/js/pages/simple-datatables.js}"></script>
    </th:block>
  </body>
</html>
