<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{view/layout/layout_entrenador}">

<head th:replace="view/layout/layout_cliente :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block layout:fragment="page-titulo">
        <title>Inicio</title>
    </th:block>
    <th:block layout:fragment="page-style">
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    </th:block>
</head>

<body>
    <div class="sidebar-menu" layout:fragment="page-sidebar">
        <ul class="menu">

            <li class="sidebar-title">Recursos</li>

            <li class="sidebar-item active">
                <a th:href="@{/administrador/membresias}" class="sidebar-link">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <span>Talleres</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a th:href="@{/administrador/clientes}" class="sidebar-link">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <span>Alumnos</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-heading" layout:fragment="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Talleres</h3>
                    <p class="text-subtitle text-muted">
                        Aqui podra gestionar sus talleres.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Empleado
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body pt-0">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="empleado-tab" data-bs-toggle="tab" href="#empleado"
                                role="tab" aria-controls="empleado" aria-selected="true">
                                <h5>Control de Talleres</h5>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="rol-tab" data-bs-toggle="tab" href="#rol" role="tab"
                                aria-controls="rol" aria-selected="false">
                                <h5>Talleres</h5>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content pt-4" id="myTabContent">
                        <div class="tab-pane fade show active" id="empleado" role="tabpanel"
                            aria-labelledby="empleado-tab">
                            <div class="">
                                <button type="button" class="btn btn-primary" id="btnAgregar">
                                    <i class="fa fa-edit"></i> Agregar Nuevo Taller
                                </button>
                            </div>
                            <!-- ///******FIN BOTON MODAL******/// -->
                            <div class="modal fade text-left" id="modalInscripcion" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel160" aria-hidden="true">
                                <form id="formInscripcion">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div id="color-modal" class="modal-header bg-primary">
                                                <h5 class="modal-title white" id="titulo-form"></h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body px-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="hidden" name="idEmpl" th:value="${empleado.idEmpl}">
                                                        <div class="form-group">
                                                            <label for="fecha_taller">Fecha:</label>
                                                            <div class="position-relative">
                                                                <input type="hidden" name="idInscripcion" id="id_inscripcion"/>
                                                                <input type="date" name="fechaTaller" id="fecha_taller"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="selectTaller">Asunto</label>
                                                        <div class="position-relative">
                                                            <select class="form-select" name="taller" id="selectTaller">
                                                                <option selected="">-- Elija una opcion --</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group has-icon-left">
                                                            <label for="cupos_taller">Cupos:</label>
                                                            <div class="position-relative">
                                                                <input type="number" name="cuposTaller" placeholder="40" id="cupos_taller"
                                                                    class="form-control">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-people"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="horaInicio_taller">Hora Inicio:</label>
                                                            <div class="position-relative">
                                                                <!-- <input type="hidden" name="idUsuario"> -->
                                                                <input type="time" name="horaInicioTaller" placeholder="Ingrese la hora" id="horaInicio_taller"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="horaFin_taller">Hora Fin:</label>
                                                            <div class="position-relative">
                                                                <input type="time" name="horaFinTaller" placeholder="Ingrese contraseña" id="horaFin_taller"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Cerrar</span>
                                                </button>
                                                <button type="button" id="btnGuardar" class="btn btn-primary ml-1">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Agregar</span>
                                                </button>
                                                <button type="button" id="btnActualizar" class="btn btn-success ml-1">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Editar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr class="">
                            <div class="row" th:with="fechaActual=${#dates.createNow()}">
                                <div class="col-md-4" th:each="inscripcion: ${talleres}" th:if="${inscripcion.fechaTaller.after(fechaActual) or #dates.format(inscripcion.fechaTaller, 'yyyy-MM-dd').equals(#dates.format(fechaActual, 'yyyy-MM-dd'))}">
                                    <div class="card">
                                        <button class="card-header pt-3 pb-0 bg-success asistencia" style="background-color: #d7d8da94;">
                                            <div class="card-title d-flex justify-content-between align-items-center ">
                                                <h4 class="card-title text-white">
                                                    [[${inscripcion.taller.nomTaller}]]
                                                </h4>
                                                <h4>
                                                    <span class="badge badge-pill bg-danger dias-restantes"
                                                        style="border: 5px;" th:data-restantes="${inscripcion.fechaTaller}" th:data-hora="${inscripcion.horaInicio}"></span>
                                                </h4>
                                            </div>
                                        </button>
                                        <div class="card-body border-bottom py-2 px-0"
                                            style="background-color: #d7d8da94;">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="pe-3">
                                                    <img src="https://portal.utp.edu.pe/static/media/Entrenamiento.a3ccee71.svg"
                                                        alt="icon" width="76" height="76">
                                                </div>
                                                <div class="vr"></div>
                                                <div class="px-4">
                                                    <p class="card-text mb-2" >
                                                        <i class="bi bi-calendar-event"></i>
                                                        <span class="fecha-taller" th:data-fecha="${inscripcion.fechaTaller}"></span>
                                                    </p>
                                                    <p class="card-text mb-2"><i class="bi bi-clock"></i>
                                                        [[${#dates.format(inscripcion.horaInicio, 'HH:mm')}]] -
                                                        [[${#dates.format(inscripcion.horaFin, 'HH:mm')}]]</p>
                                                    <p class="card-text mb-2"><i class="bi bi-clock"></i>
                                                        [[${inscripcion.cupos}]]</p>
                                                </div>
                                                <div class="px-3">
                                                    <div class="btn-group-vertical">
                                                        <button type="button" id="btnEditar" class="btn btn-warning mb-2 btnEditar" th:data-id="${inscripcion.idInsTaller}"><i class="fa fa-edit"></i></button>
                                                        <button type="button" id="btnEliminar" class="btn btn-danger btnEliminar" th:data-id="${inscripcion.idInsTaller}"><i class="fa fa-trash"></i></button>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header pt-3 pb-0 bg-success" style="background-color: #d7d8da94;">
                                            <div class="card-title d-flex justify-content-between align-items-center ">
                                                <h4 class="card-title text-white">
                                                    Defensa Personal
                                                </h4>
                                                <h4>
                                                    <span class="badge badge-pill bg-danger" style="border: 5px;">Hoy</span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="card-body border-bottom py-3 px-3" style="background-color: #d7d8da94;">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="img-fluid pe-3">
                                                    <img src="https://portal.utp.edu.pe/static/media/Karate.804ea5c6.svg" alt="icon"  width="76" height="76">
                                                </div>
                                                <div class="vr"></div>
                                                <div class="ps-3">
                                                    <p class="card-text"><i class="bi bi-calendar-event"></i> 08 Oct 2023</p>
                                                    
                                                    <p class="card-text"><i class="bi bi-clock"></i> 20:00 - 22:00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header pt-3 pb-0 bg-success" style="background-color: #d7d8da94;">
                                            <div class="card-title d-flex justify-content-between align-items-center ">
                                                <h4 class="card-title text-white">
                                                    Baile Moderno
                                                </h4>
                                                <h4>
                                                    <span class="badge badge-pill bg-danger" style="border: 5px;">Hoy</span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="card-body border-bottom py-3 px-3" style="background-color: #d7d8da94;">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="pe-3">
                                                    <img src="https://portal.utp.edu.pe/static/media/Expresiones-otros.eed6bc30.svg" alt="icon" width="76" height="76">
                                                </div>
                                                <div class="vr"></div>
                                                <div class="ps-3">
                                                    <p class="card-text"><i class="bi bi-calendar-event"></i> 08 Oct 2023</p>
                                                    
                                                    <p class="card-text"><i class="bi bi-clock"></i> 20:00 - 22:00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar bg-light-primary p-50 me-1">
                                                        <div class="avatar-content">
                                                            <i class="fa-solid fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="total-amount">
                                                        <h5 class="mb-0">Empleados</h5>
                                                        <span class="fw-bolder mb-0" id="totalEmpleados">0</span>
                                                    </div>
                                                </div>
                                                <div class="avatar bg-light-primary">
                                                    <div class="avatar-content">
                                                        <i class="fa-solid fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 mb-0" style="height: 7px;">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: 100%" aria-valuenow="50" aria-valuemin="50"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar bg-light-warning p-50 me-1">
                                                        <div class="avatar-content">
                                                            <i class="fa-solid fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="total-amount">
                                                        <h5 class="mb-0">Administradores</h5>
                                                        <span class="fw-bolder mb-0" id="totalAdministradores">0</span>
                                                    </div>
                                                </div>
                                                <div class="avatar bg-light-warning">
                                                    <div class="avatar-content">
                                                        <i class="fa-solid fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 mb-0" style="height: 7px;">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: 100%" aria-valuenow="50" aria-valuemin="50"
                                                    aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar bg-light-warning p-50 me-1">
                                                        <div class="avatar-content">
                                                            <i class="fa-solid fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="total-amount">
                                                        <h5 class="mb-0">Administradores</h5>
                                                        <span class="fw-bolder mb-0" id="totalAdministradores">0</span>
                                                    </div>
                                                </div>
                                                <div class="avatar bg-light-warning">
                                                    <div class="avatar-content">
                                                        <i class="fa-solid fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 mb-0" style="height: 7px;">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: 100%" aria-valuenow="50" aria-valuemin="50"
                                                    aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="tab-pane fade" id="rol" role="tabpanel" aria-labelledby="rol-tab">
                            <div class="pb-3">
                                <button type="button" class="btn btn-primary" id="btnAgregar">
                                    <i class="fa fa-user-plus"></i> &nbsp;Agregar Rol
                                </button>
                                <button type="button" class="btn btn-success" id="btnAgregar">
                                    <i class="fa fa-edit"></i> Mostrar Roles
                                </button>
                            </div>
                            <!-- ///******FIN BOTON MODAL******/// -->
                            <div class="modal fade text-left" id="modalEmpleado" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel160" aria-hidden="true">
                                <!-- <form id="formEmpleado">
                                    <div class="modal-lg modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div id="color-modal" class="modal-header bg-primary">
                                                <h5 class="modal-title white" id="titulo-form"></h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body px-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group has-icon-left">
                                                            <label for="first-name-icon">Nombres</label>
                                                            <div class="position-relative">
                                                                <input type="hidden" name="idEmpl">
                                                                <input type="text" class="form-control"
                                                                    name="nombreEmpl" placeholder="Ingrese el nombre"
                                                                    id="first-name-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group has-icon-left">
                                                            <label for="last-name-icon">Apellido</label>
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    name="apellidoEmpl"
                                                                    placeholder="Ingrese el apellido"
                                                                    id="last-name-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group has-icon-left">
                                                            <label for="usuario-icon">Usuario</label>
                                                            <div class="position-relative">
                                                                <input type="hidden" name="idUsuario">
                                                                <input type="text" class="form-control" name="usuario"
                                                                    placeholder="Ingrese Usuario" id="usuario-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person-badge"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group has-icon-left">
                                                            <label for="contrasenia-icon">Contraseña</label>
                                                            <div class="position-relative">
                                                                <input type="password" class="form-control"
                                                                    name="contrasenia" placeholder="Ingrese contraseña"
                                                                    id="contrasenia-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="fa-solid fa-key"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group has-icon-left">
                                                            <label for="dni-id-icon">Dni</label>
                                                            <div class="position-relative">
                                                                <input type="number" class="form-control" name="dniEmpl"
                                                                    placeholder="DNI" id="dni-id-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="fa-regular fa-address-card"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group has-icon-left">
                                                            <label for="mobile-id-icon">Telefono</label>
                                                            <div class="position-relative">
                                                                <input type="number" class="form-control"
                                                                    name="telefonoEmpl" placeholder="987-654-321"
                                                                    id="mobile-id-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-phone"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group has-icon-left">
                                                            <label for="direccion-id-icon">Dirección</label>
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    name="direccionEmpl"
                                                                    placeholder="Ingrese el domicilio"
                                                                    id="direccion-id-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-pin-map"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group has-icon-left">
                                                            <label for="email-id-icon">Correo</label>
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    name="correoEmpl"
                                                                    placeholder="Ingrese el correo @ejemplo.com"
                                                                    id="email-id-icon">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="selectRoles">Rol</label>
                                                            <div class="position-relative">
                                                                <select class="form-select" id="selectRoles"
                                                                    name="idRol">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Cerrar</span>
                                                </button>
                                                <button type="button" id="btnGuardar" class="btn btn-primary ml-1">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Agregar</span>
                                                </button>
                                                <button type="button" id="btnActualizar" class="btn btn-success ml-1">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Editar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form> -->
                            </div>
                            <table class="table table-striped" id="tablaTalleres">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Taller</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ///******BOTON MODAL******/// -->

                </div>
            </div>
        </section>
    </div>
    <th:block layout:fragment="page-scripts">
        <script th:src="@{/assets/js/entrenador/taller.js}"></script>
        <script th:src="@{/assets/js/administrador/taller.js}"></script>
    </th:block>
</body>

</html>