<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{view/layout/layout_administrador}">

<head th:replace="view/layout/layout_administrador :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rol</title>
    <th:block layout:fragment="page-style">
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    </th:block>
</head>

<body>
    <!-- *****************AQUI COMIENZA LA PARTE PROPIA***************** -->
    <div class="sidebar-menu" layout:fragment="page-sidebar">
        <ul class="menu">
          <li class="sidebar-title">Menu</li>
    
          <li class="sidebar-item">
            <a th:href="@{/administrador}" class="sidebar-link">
              <i class="bi bi-grid-fill"></i>
              <span>Dashboard</span>
            </a>
          </li>
    
          <li class="sidebar-title">Gestión</li>
    
          <li class="sidebar-item has-sub">
            <a href="#" class="sidebar-link">
              <i class="bi bi-pentagon-fill"></i>
              <span>Suscripciones</span>
            </a>
            <ul class="submenu">
              <li class="submenu-item">
                <a th:href="@{/administrador/suscripcion}">Clientes</a>
              </li>
              <!-- <li class="submenu-item">
                <a href="ui-widgets-pricing.html">Pricing</a>
              </li>
              <li class="submenu-item">
                <a href="ui-widgets-todolist.html">To-do List</a>
              </li> -->
            </ul>
          </li>
    
          <!-- <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-egg-fill"></i>
                  <span>Icons</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="ui-icons-bootstrap-icons.html">Bootstrap Icons </a>
                  </li>
                  <li class="submenu-item">
                    <a href="ui-icons-fontawesome.html">Fontawesome</a>
                  </li>
                  <li class="submenu-item">
                    <a href="ui-icons-dripicons.html">Dripicons</a>
                  </li>
                </ul>
              </li>
    
              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-bar-chart-fill"></i>
                  <span>Charts</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="ui-chart-chartjs.html">ChartJS</a>
                  </li>
                  <li class="submenu-item">
                    <a href="ui-chart-apexcharts.html">Apexcharts</a>
                  </li>
                </ul>
              </li>
    
              <li class="sidebar-item">
                <a href="ui-file-uploader.html" class="sidebar-link">
                  <i class="bi bi-cloud-arrow-up-fill"></i>
                  <span>File Uploader</span>
                </a>
              </li>
    
              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-map-fill"></i>
                  <span>Maps</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="ui-map-google-map.html">Google Map</a>
                  </li>
                  <li class="submenu-item">
                    <a href="ui-map-jsvectormap.html">JS Vector Map</a>
                  </li>
                </ul>
              </li> -->
    
          <li class="sidebar-title">Mantenimiento</li>
    
          <li class="sidebar-item">
            <a th:href="@{/administrador/membresias}" class="sidebar-link">
              <i class="bi bi-file-earmark-medical-fill"></i>
              <span>Membresias</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a th:href="@{/administrador/clientes}" class="sidebar-link">
              <i class="bi bi-file-earmark-medical-fill"></i>
              <span>Clientes</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a th:href="@{/administrador/empleados}" class="sidebar-link">
              <i class="bi bi-file-earmark-medical-fill"></i>
              <span>Empleados</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a th:href="@{/administrador/talleres}" class="sidebar-link">
              <i class="bi bi-file-earmark-medical-fill"></i>
              <span>Talleres</span>
            </a>
          </li>
          <li class="sidebar-item active">
            <a th:href="@{/administrador/roles}" class="sidebar-link">
              <i class="bi bi-file-earmark-medical-fill"></i>
              <span>Roles</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a th:href="@{/logout}" class="sidebar-link">
              <i class="bi bi-box-arrow-left"></i>
              <span>Cerrar sesion</span>
            </a>
          </li>
    
          <!-- <li class="sidebar-title">Pages</li>
    
              <li class="sidebar-item">
                <a href="application-email.html" class="sidebar-link">
                  <i class="bi bi-envelope-fill"></i>
                  <span>Email Application</span>
                </a>
              </li>
    
              <li class="sidebar-item">
                <a href="application-chat.html" class="sidebar-link">
                  <i class="bi bi-chat-dots-fill"></i>
                  <span>Chat Application</span>
                </a>
              </li>
    
              <li class="sidebar-item">
                <a href="application-gallery.html" class="sidebar-link">
                  <i class="bi bi-image-fill"></i>
                  <span>Photo Gallery</span>
                </a>
              </li>
    
              <li class="sidebar-item">
                <a href="application-checkout.html" class="sidebar-link">
                  <i class="bi bi-basket-fill"></i>
                  <span>Checkout Page</span>
                </a>
              </li>
    
              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-person-badge-fill"></i>
                  <span>Authentication</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="auth-login.html">Login</a>
                  </li>
                  <li class="submenu-item">
                    <a href="auth-register.html">Register</a>
                  </li>
                  <li class="submenu-item">
                    <a href="auth-forgot-password.html">Forgot Password</a>
                  </li>
                </ul>
              </li>
    
              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-x-octagon-fill"></i>
                  <span>Errors</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="error-403.html">403</a>
                  </li>
                  <li class="submenu-item">
                    <a href="error-404.html">404</a>
                  </li>
                  <li class="submenu-item">
                    <a href="error-500.html">500</a>
                  </li>
                </ul>
              </li>
    
              <li class="sidebar-title">Raise Support</li>
    
              <li class="sidebar-item">
                <a
                  href="https://zuramai.github.io/mazer/docs"
                  class="sidebar-link"
                >
                  <i class="bi bi-life-preserver"></i>
                  <span>Documentation</span>
                </a>
              </li>
    
              <li class="sidebar-item">
                <a
                  href="https://github.com/zuramai/mazer/blob/main/CONTRIBUTING.md"
                  class="sidebar-link"
                >
                  <i class="bi bi-puzzle"></i>
                  <span>Contribute</span>
                </a>
              </li>
    
              <li class="sidebar-item">
                <a
                  href="https://github.com/zuramai/mazer#donation"
                  class="sidebar-link"
                >
                  <i class="bi bi-cash"></i>
                  <span>Donate</span>
                </a>
              </li> -->
        </ul>
      </div>
    <div class="page-heading" layout:fragment="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Roles</h3>
                    <p class="text-subtitle text-muted">
                        Aqui se mostrará el listados de todos los roles.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Roles
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section>
            <div class="card">
                <div class="card-header pb-2">
                    <h5>Lista de roles</h5>
                </div>
                <div class="card-body pt-0">
                    <!-- ///******BOTON MODAL******/// -->
                    <div class="pb-3">
                        <button type="button" class="btn btn-primary" id="btn-abrirModalRol">
                            <i class="fa fa-edit"></i> Agregar Nuevo Rol
                        </button>
                    </div>
                    <!-- ///******FIN BOTON MODAL******/// -->


                    <!-- ///******MODAL******/// -->
                    <div class="modal fade text-left" id="modalRol" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel160" aria-hidden="true">
                        <form id="formRol">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div id="color-modal" class="modal-header bg-primary">
                                        <h5 class="modal-title white" id="titulo-form"></h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="px-3">
                                                    <label>Rol: </label>
                                                    <div class="form-group">
                                                        <input type="hidden" name="id_rol" />
                                                        <input type="text" name="nom_rol" id="nombre_rol"
                                                            placeholder="Ingrese el nombre del Rol"
                                                            class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Cerrar</span>
                                        </button>
                                        <button type="button" id="btn-guardarRol" class="btn btn-primary ml-1">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Agregar</span>
                                        </button>
                                        <button type="button" id="btn-actualizarRol" class="btn btn-success ml-1">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Editar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ///******FIN MODAL******/// -->
                    <table class="table table-striped" id="tablaRoles">
                        <thead>
                            <tr class="table">
                                <th>ID</th>
                                <th>Rol</th>
                                <!-- columnas de auditoria -->
                                <th>Usuario de creación</th>
                                <th>Fecha de creación</th>
                                <th>Usuario de actualización</th>
                                <th>Fecha de actualización</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <!-- ///******FIN TABLA******/// -->
                </div>
            </div>
        </section>
    </div>
    <!-- *****************AQUI TERMINA LA PARTE PROPIA***************** -->

    <th:block layout:fragment="page-scripts">
        <script th:src="@{/assets/js/administrador/rol.js}"></script>
        <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
    </th:block>
</body>

</html>